#general files
../.idea/
__pycache__/
./venv
.idea
*.swp

# project files
app/crons/venv
smiteapi/
/app/dbconfig.json
/app/auth.json
/smite_lore/dbconfig.json
smite_lore/dbconfig.json
/app/latest_sessions.txt
run.bat
smite_lore/smite_lore/static/gods
/smite_lore/smite_lore/static/gods
auth.json
dbconfig.json
/smite_lore/smite_lore/static/admin/