<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <meta name="keywords" content="smite, smite motd, motd, smite todays motd">
    <title>SMITE | Match Of The Day</title>
    <link rel="icon" href="{% static '/smite_icon.png' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5025793484206722"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-con">
        <div class="main-con-title">
                <img src="{% static '/smite_icon.png' %}" style="display: flex; margin-left: 13%; width: 200px;">
        </div>

        <div class="main-sections main-con-today">
            <h4>TODAY'S MOTD</h4>
            {% for row in todays_motd %}
                <div class="motdcell" style="padding:10px;">
                    <div class="motdname" style="font-size: 25px; padding: 5px;">{{row.name}}</div>
                    <div class="motddesc" style="font-size: 15px; padding: 5px;">{{row.description}}</div>
                    <div class="motddate" style="font-size: 15px; padding: 5px;">{{row.date}}</div>
                </div>
            {% endfor %}
        </div>
        <div class="main-sections main-con-next">
            <h4>FUTURE MOTD</h4>
            {% for row in future_motd %}
                <div class="motdcell" style="padding:10px;">
                    <div class="motdname" style="font-size: 25px; padding: 5px;">{{row.name}}</div>
                    <div class="motddesc" style="font-size: 15px; padding: 5px;">{{row.description}}</div>
                    <div class="motddate" style="font-size: 15px; padding: 5px;">{{row.date}}</div>
                </div>
            {% endfor %}
        </div>
        <div class="main-sections main-con-prev">
            <h4>ARCHIV MOTD</h4>
            {% for row in archiv_motd %}
                <div class="motdcell" style="padding:10px;">
                    <div class="motdname" style="font-size: 25px; padding: 5px;">{{row.name}}</div>
                    <div class="motddesc" style="font-size: 15px; padding: 5px;">{{row.description}}</div>
                    <div class="motddate" style="font-size: 15px; padding: 5px;">{{row.date}}</div>
                </div>
            {% endfor %}
        </div>
        <div class="footer">
            &#169; 2021 Nykram. All rights reserved.
        </div>
    </div>
</body>
</html>