@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #3D3C3C;
}

.main-con{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main-con-title{
    padding: 10px;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: bold;
}

.main-sections{
    padding: 15px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    width: auto;
}
.main-sections h4 {
    padding: 15px;
}
.main-sections .motdcell {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.footer {
    font-size: 10px;
    padding: 5px;
    font-family: 'Roboto';
    margin: auto;
}
.motdcell {
    padding: 10px;
}
.motdcell div {
    font-size: 15px;
    padding: 5px;
}
.motdcell .motdname{
    font-size: 25px;
}
.motdcell .motddesc div {
   
}
