@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #3D3C3C;
}

.main-con{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main-con-title{
    padding: 10px;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: bold;
}

.main-sections{
    padding: 15px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    width: auto;
}
.main-sections h4 {
    padding: 15px;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Racing Sans One', cursive;
}
.main-sections .motdcell {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.footer {
    font-size: 10px;
    padding: 5px;
    font-family: 'Roboto';
    margin: auto;
}
.motdcell {
    padding: 10px;
}
.motdcell div {
    font-size: 15px;
    padding: 5px;
}
.motdcell .motdname{
    font-size: 25px;
}
.motdcell .motddesc li {
   padding: 5px;
}

li:first-child {
    list-style-type: none;
    text-decoration: none;
}
.gods-pref .gods-bar .god .god-image img{
    width: 100px;
}

.gods-pref .gods-bar{
    padding: 8px;
}
.gods-pref .gods-bar .god .god-name {
    font-size :15px;
}
.gods-pref {
    display: flex;
    justify-content: left;
    margin-left: 15.5%;
    flex-direction: column;
}
.gods-pref .gods-pref-title{
    text-align:left;
    font-size: 20px;
    padding: 5px;
}
.gods-pref .gods-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:left;
    width: auto;
}
.gods-pref .gods-bar .god .god-name{
    text-align: center;
    padding: 10px;
    letter-spacing: 1.5px;
    }
.gods-pref .gods-bar .god div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gods-pref .gods-bar .god{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.gods-pref .gods-bar .god .god-wr {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.1px;
    color: #C0C0C0;
}
.gods-pref .gods-bar .god .god-wr div{
    padding: 2px;
}
.gods-pref .gods-bar .god img {
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.34);
}